@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --padding-horizontal: 50px;
  --padding-vertical: 20px;

  /* Colors */
  --col-bg: #f9f9f9;
  --col-bg-sec: #f5f5f5;
  --col-bg-ter: #f2f1f1;
  --col-border: #dadada;
  --col-fg: #1d2021;
  --col-fg-sec: #282828;
  --col-fg-ter: #303030;
  --col-accent: #238b3a;
  --col-appendix: #ececec;
  --col-tag: #2b8a73;
  --col-tag-fg: #fefefe;
  --col-time: #808080;
  --col-subheading: #707070;
  --col-sub-subheading: #808080;
  --col-bg-term: #fafafa;
  --col-fg-term: #6f6f6f;
  --col-border-term: #e18b8b;
  --col-border-codeblock: #383838;
  --col-link: rgb(27, 127, 145);
  --col-heading-border: rgb(64, 133, 92);
}

.dark {
  --col-bg: #282828;
  --col-bg-sec: #303030;
  --col-bg-ter: #424242;
  --col-border: #525252;
  --col-fg: #efe5e5;
  --col-fg-sec: #dfd8d8;
  --col-fg-ter: #303030;
  --col-accent: #238b3a;
  --col-appendix: #323232;
  --col-tag: #2b8a73;
  --col-tag-fg: #fefefe;
  --col-time: #aa9a9a;
  --col-subheading: #a0a0a0;
  --col-sub-subheading: #909090;
  --col-bg-term: #282828;
  --col-fg-term: #9a9a9a;
  --col-border-term: #e18b8b;
  --col-border-codeblock: #454545;
  --col-link: rgb(61, 186, 208);
  --col-heading-border: rgb(96, 192, 171);
}

body,
html {
  margin: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-family: "Literata";
  background: var(--col-appendix);
  height: 100%;
  color: var(--col-fg);
}

header {
  padding: var(--padding-vertical) var(--padding-horizontal);
  background: var(--col-bg);
  font-family: "IBM Plex Sans";
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  z-index: 99;
  border-bottom: 1px solid var(--col-border);
  align-items: center;
}

#toggle-sidebar {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: var(--col-fg);
  margin-right: 10px;
  line-height: 24px;
}

header #logo {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  flex: 1;
}

header #logo span {
  color: var(--col-accent);
}

header #logo span a {
  color: var(--col-accent);
}

header #logo span::before {
  content: "::";
}

.content {
  display: grid;
  grid-template-columns: 2fr 7fr;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

#overview {
  padding: var(--padding-vertical) var(--padding-horizontal);
  padding-right: var(--padding-vertical);
  border-right: 1px solid var(--col-border);
  font-size: 80%;
  background: var(--col-bg-sec);
  overflow: scroll;
}

#post-container {
  overflow: auto;
}

article#post {
  background: var(--col-bg);
  padding: var(--padding-vertical) var(--padding-horizontal);
  border-right: 1px solid var(--col-border);
  width: 65%;
}

article p {
  position: relative;
}

article h1 {
  font-size: 48px;
  margin: var(--padding-vertical) 0;
}

.term {
  position: absolute;
  left: calc(100% + var(--padding-horizontal));
  background-color: var(--col-bg-term);
  color: var(--col-fg-term);
  border-left: 5px solid var(--col-border-term, #e18b8b);
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
  width: 30%;
  font-style: italic;
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans";
}

code {
  font-family: "Jetbrains Mono", "Fira Code", "SF Mono", "Hack", "Ubuntu Mono",
    monospace;
}

pre {
  padding: var(--padding-vertical);
  border-radius: 5px;
  overflow: auto;
  border: 1px solid var(--col-border-codeblock);
}

.light pre {
  filter: invert(1) hue-rotate(180deg) saturate(1.6);
  background: #090909 !important;
}

a {
  color: var(--col-link);
}

tag {
  background-color: var(--col-tag);
  padding: 5px 10px;
  border-radius: 20px;
  color: var(--col-tag-fg);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

tag::before {
  content: "#";
}

time {
  font-weight: bold;
  color: var(--col-time);
}

time::before {
  content: "Published on ";
  font-weight: normal;
}

em b {
  color: var(--col-accent);
}

b em {
  color: var(--col-accent);
}

#post h2 {
  border-left: 5px solid var(--col-heading-border);
  margin-left: -15px;
  padding: 0px 10px;
}

#overview ul {
  list-style: decimal;
}

#overview h1 + ul {
  padding: 0 0 0 15px;
}

#overview h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
  color: var(--col-fg-sec);
  display: inline-block;
}

#overview h1 {
  font-size: 24px;
}

#overview h3 {
  color: var(--col-subheading);
}

@media screen and (max-width: 1200px) {
  .content {
    grid-template-columns: 1fr 2fr;
  }
  .term {
    position: unset;
    background-color: transparent;
    display: block;
    width: unset;
    margin: 10px 0;
    border-right: 1px solid var(--col-border);
    border-bottom: 1px solid var(--col-border);
    border-top: 1px solid var(--col-border);
  }
  article#post {
    width: auto;
  }
}

@media screen and (max-width: 720px) {
  :root {
    --padding-horizontal: 20px;
  }
  #overview {
    float: left;
    width: calc(100% - var(--padding-horizontal) * 2);
    position: absolute;
    z-index: 99;
    height: calc(100% - var(--padding-vertical) * 2);
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  article#post {
    width: auto;
  }
  #overview h1 {
    margin: 0;
  }
  #overview.hidden {
    z-index: -99;
  }
  #overview.visible {
    z-index: 99;
  }
}

.switch svg {
  width: 24px;
  height: 24px;
  transition: 0.5s ease-in-out;
}

.switch svg path {
  fill: var(--col-fg) !important;
}

.switch svg:hover {
  transform: scale(1.2);
  cursor: pointer;
}

* {
  transition: color 0.25s ease-in-out, background 0.25s ease-in-out,
    border-color 0.25s ease-in-out, filter 0.25s ease-in-out;
}
