@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --padding-horizontal: 50px;
  --padding-vertical: 20px;
  --padding-li: 10px;
  --padding: 20px;
  --border-width: 2px;

  /* Colors */
  --col-bg: #f9f9f9;
  --col-bg-sec: #f5f5f5;
  --col-bg-ter: #f2f1f1;
  --col-border: #dadada;
  --col-fg: #1d2021;
  --col-fg-sec: #282828;
  --col-fg-ter: #303030;
  --col-accent: #238b3a;
  --col-appendix: #ececec;
  --col-tag: #2b8a73;
  --col-tag-fg: #fefefe;
  --col-time: #808080;
  --col-subheading: #707070;
  --col-sub-subheading: #808080;
  --col-bg-term: #fafafa;
  --col-fg-term: #6f6f6f;
  --col-border-term: #e18b8b;
  --col-border-codeblock: #383838;
  --col-link: rgb(27, 127, 145);
  --col-heading-border: rgb(64, 133, 92);
}

.dark {
  --col-bg: #282828;
  --col-bg-sec: #303030;
  --col-bg-ter: #424242;
  --col-border: #525252;
  --col-fg: #efe5e5;
  --col-fg-sec: #dfd8d8;
  --col-fg-ter: #303030;
  --col-accent: #53ab6a;
  --col-appendix: #323232;
  --col-tag: #2b8a73;
  --col-tag-fg: #fefefe;
  --col-time: #aa9a9a;
  --col-subheading: #a0a0a0;
  --col-sub-subheading: #909090;
  --col-bg-term: #282828;
  --col-fg-term: #9a9a9a;
  --col-border-term: #e18b8b;
  --col-border-codeblock: #454545;
  --col-link: rgb(61, 186, 208);
  --col-heading-border: rgb(96, 192, 171);
}

body,
html {
  margin: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-family: "Literata";
  background: var(--col-appendix);
  height: 100%;
  color: var(--col-fg);
}

header {
  padding: var(--padding-vertical) var(--padding-horizontal);
  background: var(--col-bg);
  font-family: "IBM Plex Sans";
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  z-index: 99;
  border-bottom: 1px solid var(--col-border);
  align-items: center;
}

header #logo {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  flex: 1;
}

header #logo a {
  text-decoration: none;
  color: var(--col-fg);
}

header #logo span {
  color: var(--col-accent);
}

header #logo span a {
  color: var(--col-accent);
}

header #logo span::before {
  content: "::";
}

/* BLOG POST */

#toggle-sidebar {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: var(--col-fg);
  margin-right: 10px;
  line-height: 24px;
  display: none;
}

.content {
  display: grid;
  grid-template-columns: 2fr 7fr;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

#overview {
  padding: var(--padding-vertical) var(--padding-horizontal);
  padding-right: var(--padding-vertical);
  border-right: 1px solid var(--col-border);
  font-size: 80%;
  background: var(--col-bg-sec);
  overflow: scroll;
}

#post-container {
  overflow: auto;
}

article#post {
  font-size: 120%;
  background: var(--col-bg);
  padding: var(--padding-vertical) var(--padding-horizontal);
  border-right: 1px solid var(--col-border);
  width: 65%;
}

article img {
    width: 100%;
}

article p {
  position: relative;
}

article h1 {
  font-size: 48px;
  margin: var(--padding-vertical) 0;
}

.term {
  position: absolute;
  left: calc(100% + var(--padding-horizontal));
  background-color: var(--col-bg-term);
  color: var(--col-fg-term);
  border-left: 5px solid var(--col-border-term, #e18b8b);
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
  width: 30%;
  font-style: italic;
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans";
}

code {
  font-family: "Jetbrains Mono", "Fira Code", "SF Mono", "Hack", "Ubuntu Mono",
    monospace;
}

pre {
  padding: var(--padding-vertical);
  border-radius: 5px;
  overflow: auto;
  border: 1px solid var(--col-border-codeblock);
}

.light pre {
  filter: invert(1) hue-rotate(180deg) saturate(1.6);
  background: #090909 !important;
}

a {
  color: var(--col-link);
}

tag {
  background-color: var(--col-tag);
  padding: 5px 10px;
  border-radius: 20px;
  color: var(--col-tag-fg);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

tag::before {
  content: "#";
}

time {
  font-weight: bold;
  color: var(--col-time);
}

time::before {
  content: "Published on ";
  font-weight: normal;
}

em strong {
  color: var(--col-accent);
}

#post h2 {
  border-left: 5px solid var(--col-heading-border);
  margin-left: -15px;
  padding: 0px 10px;
}

#overview ul {
  list-style: decimal;
}

#overview h1 + ul {
  padding: 0 0 0 15px;
}

#overview {
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin: 5px 0;
    color: var(--col-fg-sec);
    display: inline-block;
  }
}

#overview h1 {
  font-size: 24px;
}

#overview h3 {
  color: var(--col-subheading);
}

@media screen and (max-width: 1200px) {
  .content {
    grid-template-columns: 1fr 2fr;
  }
  .term {
    position: unset;
    background-color: transparent;
    display: block;
    width: unset;
    margin: 10px 0;
    border-right: 1px solid var(--col-border);
    border-bottom: 1px solid var(--col-border);
    border-top: 1px solid var(--col-border);
  }
  article#post {
    width: auto;
  }
}

@media screen and (max-width: 720px) {
  :root {
    --padding-horizontal: 20px;
  }
  #toggle-sidebar {
    display: inline-block;
  }
  #overview {
    float: left;
    width: calc(100% - var(--padding-horizontal) * 2);
    position: absolute;
    z-index: 99;
    height: calc(100% - var(--padding-vertical) * 2);
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  article#post {
    width: auto;
  }
  #overview h1 {
    margin: 0;
  }
  #overview.hidden {
    z-index: -99 !important;
  }
  #overview.visible {
    z-index: 99;
  }
}
.switch svg {
  width: 24px;
  height: 24px;
  transition: 0.5s ease-in-out;
}

.switch svg path {
  fill: var(--col-fg) !important;
}

.switch svg:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* END BLOG POST */

/* INDEX */

#homepage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  flex: 1;
  background: var(--col-bg-sec);
  overflow-y: auto;
  position: relative;
}

#featured-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#featured {
  display: grid;
  padding: var(--padding-vertical);
  overflow: hidden;
  flex: 1;
}

.row {
  padding: var(--padding-vertical) var(--padding-horizontal);
  margin-top: var(--padding-vertical);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#featured-label {
  font-size: 48px;
  flex: 1;
  margin: 0;
}

#featured article {
  overflow: hidden;
  transition: scale 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  & h1 {
    margin-top: 0;
  }
}

#featured article:last-child:not(:nth-child(2)) {
  grid-column-start: 1;
  grid-column-end: 3;
}

#featured article:hover {
  background-color: var(--col-bg-sec);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  scale: 1.03;
  z-index: 999;
}

.grow {
  flex-grow: 1;
}

#searchbar {
  position: relative;
}

#searchbar input {
  color: var(--col-fg-sec);
}

#search-results {
  position: absolute;
  background: var(--col-bg);
  font-size: 80%;
  margin-top: 10px;
  width: 200%;
  right: 0;
  max-height: 65vh;
  overflow: scroll;
  display: none;
  z-index: 99;
}

#search-results article h1 {
  font-size: 24px;
}

#searchbar input:focus + #search-results {
  display: block;
}

#search-results ul {
  box-shadow: 1px 1px 5px 0 gray;
  border: 1px solid var(--col-border);
}

#search-results a {
  color: inherit;
  text-decoration: inherit;
}

#search-results article {
  padding: 20px;
}

#search-results article:hover {
  background: var(--col-bg-sec);
}

#search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-results li:not(:last-child) {
  border-bottom: 1px solid var(--col-border);
}

#search-results h1,
#search-results h2,
#search-results h3,
#search-results h4,
#search-results p {
  margin: 10px 0;
}

#searchbar input {
  font-size: large;
  padding: 5px;
  border: 1px solid var(--col-border);
  font-family: "IBM Plex Sans";
  background: var(--col-bg);
}

#featured article {
  padding: var(--padding-vertical)
    calc(var(--padding-horizontal) - var(--padding-vertical));
  background: var(--col-bg);
  border: 1px solid var(--col-border);
}

#featured article h1 {
  font-size: x-large;
}

#featured article h1 a {
  color: var(--col-fg);
  text-decoration: none;
}

#timeline {
  background: var(--col-bg);
  border-left: 1px solid var(--col-border);
  padding: var(--padding-vertical);
  overflow-y: scroll;
  overflow-x: hidden;
}

#timeline ul {
  padding-left: var(--padding);
  list-style: disc;
}

#timeline li {
  position: relative;
  line-height: 1em;
  padding: var(--padding-li) 0;
}

#timeline li:not(:last-child)::before {
  content: "";
  position: absolute;
  float: left;
  top: calc(0.5em + var(--padding-li));
  bottom: calc(-0.5em - var(--padding-li));
  border-left: var(--border-width) solid var(--col-border);
  left: calc(var(--padding) * -0.5 - var(--border-width));
}

#timeline li:not(:last-child) li:first-child::before {
  width: calc(var(--padding) - var(--border-width));
  margin-left: calc(var(--padding) * -0.5 - var(--border-width));
  border-top: var(--border-width) solid var(--col-border);
  border-right: var(--border-width) solid var(--col-border);
  border-left-color: transparent;
  left: calc(var(--padding) * -1);
  content: "";
  display: block;
  position: absolute;
  top: calc(1em + var(--border-width));
}

#timeline li:last-child summary {
  position: relative;
}

#timeline li:last-child > details[open] > summary::before {
  content: "";
  position: absolute;
  border-left: var(--border-width) solid var(--col-border);
  border-bottom: var(--border-width) solid var(--col-border);
  top: 0.5em;
  bottom: calc(-0.5em - var(--border-width) - var(--padding-li));
  margin-left: calc(var(--padding) * -0.5 - var(--border-width));
  width: var(--padding);
}

#timeline summary::marker {
  content: "";
}

#timeline summary span {
  display: flex;
}

#timeline summary span::before {
  display: block;
  content: "+";
  line-height: 0.85em;
  font-weight: bold;
  width: 1em;
  height: 1em;
  background: var(--col-fg);
  color: var(--col-bg);
  text-align: center;
  border-radius: 1em;
  margin-left: calc(var(--padding) * -1);
  margin-right: 5px;
  z-index: 2;
}

#timeline details[open] > summary > span::before {
  content: "-";
}

#timeline summary span h2,
#timeline summary span h3 {
  flex: 1;
  display: inline-block;
  margin: 0;
}

#timeline
  li:not(:last-child)
  li:last-child
  > details
  > ul
  > li:last-child::before {
  border-left: 0;
  width: 0 !important;
  margin-left: calc(var(--padding) / 2 - var(--border-width)) !important;
}

#timeline li::before {
  z-index: -1;
}

#timeline {
  z-index: 9999;
}

#show-more {
  display: none;
}

#timeline h2,
#timeline h3,
#timeline h4 {
  margin: 0;
  display: inline;
  color: var(--col-fg);
}

#timeline a {
  text-decoration: none;
}

@media screen and (min-width: 1500px) {
  #homepage {
    grid-template-columns: 3fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  #toggle-sidebar {
    display: block;
  }
  #homepage {
    grid-template-columns: 1fr;
  }
  #featured-container {
    overflow: auto;
  }
  #featured {
    overflow: unset;
    & article {
      grid-column-start: 1;
      grid-column-end: 3;
      padding: var(--padding-vertical);
      overflow: unset;
    }
  }
  #timeline {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    border-right: 1px solid var(--col-border);
    max-width: 100%;
    transition: margin-left 0.25s ease-in-out;
  }

  #timeline.hidden {
    margin-left: -100%;
  }
  #timeline.visible {
    margin-left: 0;
  }
  #show-more {
    display: inline-block;
    text-align: center;
    padding: var(--padding-vertical);
  }
}

@media screen and (max-width: 720px) {
  #featured-container > .row {
    flex-direction: column;
    align-items: baseline;
    row-gap: 10px;
  }
}

/* END INDEX */
